@media (max-width: 900px) {

    .modulos-equpo
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
 

        margin-top: 10px;
        margin-bottom: 10px;
    
        .modulo{

            margin-top: 0px;

        }
    }
    
    .modulo-team-hire
    {
       
    
        .content-container
        {
            border:0;
    
            p{
                width: 100%;
                text-align: center;
                color:white;
                font-size: 2.375rem;
            }
    
            text-align: center;
    
    
            .send{
                width: 100%;
    
                font-size: 14px;
                background: black;
    
                padding: 10px;
                padding-left: 20px;
                padding-right: 20px;
                border:1px solid black;
                
                max-width: 170px;
                margin-left: 10px;  
                color:#FFF;
                text-decoration: none;
            }
    
            .send:hover{
    
                background: transparent;
                border:1px solid white;
                color:white;
       
            }
        }
    }
}



