<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    
    
    <link href="css/all.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet">
    <link href="css/kw.css" rel="stylesheet">

    <title>KW</title>
  </head>
  <body>


    <nav id="main-menu">
        <ul>
            <li><a href="equipo.html">Equipo</a></li>
            <li><a href="listado-viviendas.html">Viviendas</a></li>
            <li><a href="blog-portada.html">Blog</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="kw-oct.pdf" target="_blank">Revista</a></li>
        </ul>
    </nav>

    <section class="modulo-home modulo-home-top top-gris">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <img class="logo" src="img/white-logo.svg" alt="">
                </div>
                <div class="col">
                    <nav>
                        <a id="hamburger-icon" href="#" title="Menu">
                            <span class="line line-1"></span>
                            <span class="line line-2"></span>
                            <span class="line line-3"></span>
                          </a>
                    </nav>
                </div>
            </div>
     
        </div>
    </section>


  



    <section class="modulo-home listado-blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Últimas Noticias</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="container-noticia">
                        <p class="entradilla">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <p class="fecha">Enero 2022</p>
                        <img src="img/blog-1.jpg" alt="">
                        <p class="foto-footer">Lorem ipsum dolor sit amet consectetur adipiscing elit consequat fermentum, malesuada commodo fringilla a integer.</p>
                        <blockquote>Lorem ipsum es, básicamente, un texto de relleno (dummy text) que, habitualmente, se utiliza en diseño gráfico, web o editorial para suplantar un texto que no ha sido entregado utiliza en diseño gráfico utiliza en diseño gráfico utiliza en diseño gráfico,.</blockquote>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit consequat fermentum, malesuada commodo fringilla a integer vitae donec curae varius, dui habitasse tristique aliquam at mauris mollis arcu. Nisi porta proin ultricies laoreet parturient 1otent fermentum, mauris quisque erat malesuada inceptos commodo netus, mattis magna varius aliquam faucibus sem. Lectus nascetur penatibus rutrum neque per cum parturient quam, facilisis pellentesque libero porttitor euismod blandit suscipit, vel himenaeos magnis tempus molestie justo lacinia. 
                            <br><br>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit consequat fermentum, malesuada commodo fringilla a integer vitae donec curae varius, dui habitasse tristique aliquam at mauris mollis arcu. Lorem ipsum dolor sit amet consectetur adipiscing elit consequat fermentum, malesuada commodo fringilla a integer vitae donec curae varius, dui habitasse tristique aliquam at mauris mollis arcu. Nisi porta proin ultricies laoreet parturient 1otent fermentum, mauris quisque erat malesuada inceptos commodo netus, mattis magna varius aliquam faucibus sem. Lectus nascetur penatibus rutrum neque per cum parturient quam, facilisis pellentesque libero porttitor euismod blandit suscipit, vel himenaeos magnis tempus molestie justo lacinia. 
                            <br><br>                    
                            Lorem ipsum dolor sit amet consectetur adipiscing elit consequat fermentum, malesuada commodo fringilla a integer vitae donec curae varius, dui habitasse tristique aliquam at mauris mollis arcu. </p>


                            <div class="social">
                                <ul>
                                    <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
                                    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                                </ul>
                            </div>
                    </div>



                </div>
            </div>

        </div>
    </section>



    <section class="modulo-home te-puede">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Te puede interesar</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="modulo">
                        <img src="img/tepue-1.jpg" alt="">
                        <p class="title">
                            Alquiler 700 €/mes
                        </p>
                        <p class="ciudad">Bilbao (Vizcaya)</p>
                        <p class="tipo">Piso</p>
                    </div>
                </div>
                <div class="col">
                    <div class="modulo">
                        <img src="img/tepue-2.jpg" alt="">
                        <p class="title">
                            Alquiler 700 €/mes
                        </p>
                        <p class="ciudad">Bilbao (Vizcaya)</p>
                        <p class="tipo">Piso</p>
                    </div>
                </div>
                <div class="col">
                    <div class="modulo">
                        <img src="img/tepue-3.jpg" alt="">
                        <p class="title">
                            Alquiler 700 €/mes
                        </p>
                        <p class="ciudad">Bilbao (Vizcaya)</p>
                        <p class="tipo">Piso</p>
                    </div>
                </div>
                <div class="col">
                    <div class="modulo">
                        <img src="img/tepue-4.jpg" alt="">
                        <p class="title">
                            Alquiler 700 €/mes
                        </p>
                        <p class="ciudad">Bilbao (Vizcaya)</p>
                        <p class="tipo">Piso</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a href="" class="boton-rojo hvr-fadet">Ver más</a>
            </div>
        </div>
    </section>

    <section class="modulo-home modulo-home-team modulo-team-hire" class="parallax-window" data-parallax="scroll" data-image-src="img/fondo-listado-mayor.jpg">
        <div class="content-container">
           <div>
            <p>La mayor empresa inmobiliaria del mundo</p>
            
            <a href="" class="send hvr-fade">Contáctanos</a>
           </div>
        </div>
    </section>



    <footer>
        <div class="footer-con">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="img/white-logo.svg" class="logo" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="adreess">
                        <strong>KW Royal</strong><br>
                        Estartetxe, 5 - Ático Dpto. 507 Leioa 48940 (Vizcaya)<br>
                        944 145 160 - 639 415 168
                        <br><br>
                        <a href="">kwroyal@kwspain.es</a><br>
                        <a href="">www.kellerwilliamsroyal.es</a>
                        </p>
                    </div>

                    <div class="col-md-3">
                        <p class="adreess">
                        <strong>Conecta con nosotros</strong><br>
                        </p>
                        <ul class="social">
                            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <p class="adreess">
                        <strong>Suscríbete para recibir nuestras novedades</strong><br>
                        </p>
                        <form action="" class="footer-sus">
                            <input type="text" class="le-texto" placeholder="Tu email">
                            <input type="submit" value="SUSCRIBIRME" class="send hvr-fade">
                        </form>
                        
                    </div>

                </div>
            </div>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <script src="js/parallax.js"></script>
    <script>
            $( document ).ready(function() {
                var hamburger = $('#hamburger-icon');
                var mainmenu = $('#main-menu');
                hamburger.click(function() {
                    hamburger.toggleClass('active');
                    mainmenu.toggleClass('active');
                    return false;
                });
            });
    </script>
  </body>
</html>