<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    
    
    <link href="css/all.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet">
    <link href="css/kw.css" rel="stylesheet">

    <title>KW</title>
  </head>
  <body>


    <nav id="main-menu">
        <ul>
            <li><a href="equipo.html">Equipo</a></li>
            <li><a href="listado-viviendas.html">Viviendas</a></li>
            <li><a href="blog-portada.html">Blog</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="kw-oct.pdf" target="_blank">Revista</a></li>
        </ul>
    </nav>

    <section class="modulo-home modulo-home-top" class="parallax-window" data-parallax="scroll" data-image-src="img/bg-home.jpg">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <img class="logo" src="img/white-logo.svg" alt="">
                </div>
                <div class="col">
                    <div class="second-menu">
                        <ul>
                            <li><a href="">Blog</a></li>
                            <li class="separador">|</li>
                            <li><a href="">Revista</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <nav>
                        <a id="hamburger-icon" href="#" title="Menu">
                            <span class="line line-1"></span>
                            <span class="line line-2"></span>
                            <span class="line line-3"></span>
                          </a>
                    </nav>
                </div>
            </div>
            <div class="row">
            <div class="col">
                <h1>Donde se encuentran<br>las oportunidades</h1>
            </div>
            </div>

            <div class="row finder-home">
                <div class="col">
                    <ul>
                        <li class="selected"><a href="">COMPRAR</a></li>
                        <li class="separador">|</li>
                        <li><a href="">VENDER</a></li>
                        <li class="separador">|</li>
                        <li><a href="">ALQUILAR</a></li>
                    </ul>
                </div>
            </div>
            <div class="row finder-home finder-home-form">
                <div class="col">
                    <form action="">
                        <select name="" id="">
                            <option value="">Selecciona</option>
                        </select>
                        <select name="" id="">
                            <option value="">Selecciona</option>
                        </select>
                        <input type="submit" value="Buscar" class="hvr-fade ">
                    </form>
                </div>
            </div>

        </div>
    </section>



    <section class="modulo-home modulo-home-agencia">
        <div class="container">
            <div class="row">
                <div class="col">
                   <img src="img/rgb-logo.svg" class="logo" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-8">
                    <p class="intro">
                        El sector inmobiliario ha experimentado un cambio radical en poco tiempo, lo que ha llevado a nuestra industria y tu negocio a una nueva era. A medida que el mundo se ha acelerado tanto, inevitable como inesperadamente, tu viaje hacia el espacio digital, los desafíos fundamentales, desde la presión a la baja sobre las comisiones hasta los nuevos competidores de las puntocom, ya no son preocupaciones lejanas. Ellos están aquí.
                    </p>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <img src="img/foto-home-mod-2.jpg" class="foto" alt="">
                </div>
                <div class="col-md-4 mod">
                    <h2>Qué hacemos por tu vivienda</h2>
                    <ul>
                        
                        <li>Marketing Digital.</li>
                        <li>Fotografía Profesional.</li>
                        <li>Asesoría Financiera.</li>
                        <li>Publicación Internacional.</li>
                    </ul>
                </div>
                <div class="col-md-4 mod">
                    <h2>Por qué nuestra agencia</h2>
                    <ul>
                        
                        <li>Asesoramiento personalizado.</li>
                        <li>Plan único para tu propiedad.</li>
                        <li>Equipo multidisciplinar a tu disposición.</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>




    <section class="modulo-home modulo-home-team" class="parallax-window" data-parallax="scroll" data-image-src="img/home-bg-team.jpg">
        <div class="content-container">
            <a href="equipo.html" class="equipo">Equipo</a>       
        </div>
    </section>


    <footer>
        <div class="footer-con">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="img/white-logo.svg" class="logo" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <p class="adreess">
                        <strong>KW Royal</strong><br>
                        Estartetxe, 5 - Ático Dpto. 507 Leioa 48940 (Vizcaya)<br>
                        944 145 160 - 639 415 168
                        <br><br>
                        <a href="">kwroyal@kwspain.es</a><br>
                        <a href="">www.kellerwilliamsroyal.es</a>
                        </p>
                    </div>

                    <div class="col-md-3">
                        <p class="adreess">
                        <strong>Conecta con nosotros</strong><br>
                        </p>
                        <ul class="social">
                            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <p class="adreess">
                        <strong>Suscríbete para recibir nuestras novedades</strong><br>
                        </p>
                        <form action="" class="footer-sus">
                            <input type="text" class="le-texto" placeholder="Tu email">
                            <input type="submit" value="SUSCRIBIRME" class="send hvr-fade ">
                            <br>
                            <br>
                        </form>
                        
                    </div>

                </div>
            </div>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <script src="js/parallax.js"></script>
    <script>
            $( document ).ready(function() {
                    var hamburger = $('#hamburger-icon');
                    var mainmenu = $('#main-menu');
                    hamburger.click(function() {
                        hamburger.toggleClass('active');
                        mainmenu.toggleClass('active');
                        return false;
                    });
            });
    </script>
  </body>
</html>